{% extends 'tasks/base.html' %}
{% block content %}
    <a href="{% url 'task_create' %}">Create Task</a>
    <ul id="task-list">
        {% for task in tasks %}
            <li class="{% if task.completed %}completed{% endif %}">
                <span>{{ task.title }}</span>
                <span>
                    <a href="{% url 'task_update' task.pk %}">Edit</a>
                    <a href="{% url 'task_delete' task.pk %}">Delete</a>
                </span>
            </li>
        {% empty %}
            <li>No tasks yet.</li>
        {% endfor %}
    </ul>
{% endblock %}